	
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

	{#
	 # We've concatenated all component js into a single file to simplify the loading process
	 # in Pattern Lab. If this causes problems, we'd have to reference each script
	 # individually below.
	 #}
	<script src="/js/all.js"></script>
	
	</body>
</html>